footer {
	background: black;
	min-height: 100px;
	width: 100%;
	overflow: hidden;
	font-size: 14px;
	color: white;
}

footer a,
footer a:visited {
	color: #fff;
}

.socials{
	display: flex;
	position: relative;
	left: 47%;
	font-size: 25px !important;
}