#resume {
	background: rgb(238, 237, 237);
}

.experience-icon {
	font-size: 300%;
	margin-top: 25%;
	text-align: center;
}

.experience-badge {
	font-size: 11px !important;
	text-align: left !important;
	padding: 5px 8px 5px 8px !important;
	vertical-align: baseline;
	background-color: #f9f5e9 !important;
	color: black;
	font-weight: lighter !important;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.vertical-timeline-element-date {
	padding: 0 !important;
	margin: 0 !important;
}

// .mb-2{
// 	border-radius: 100px;
// 	transition: all .2s ease-in-out; 
// 	text-align: center;
// }

// .mb-2:hover{
// 	transform: scale(1.4);
// 	text-align: center;
// }

.main-badge {
	font-size: 13px !important;
	text-align: left !important;
	padding: 5px 8px 5px 8px !important;
	vertical-align: baseline;
	background-color: #AE944F !important;
	color: white;
	font-weight: lighter !important;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media only screen and (max-width: 1170px) {
	.experience-icon {
		font-size: 170%;
		margin-top: 27%;
		text-align: center;
	}
}

.vertical-timeline-element--work{
	transition: all .2s ease-in-out; 
}

.vertical-timeline-element--work:hover{
	transform: scale(1.4);
}